{
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@Dashboard": "./src/components/Dashboard",
          "@Authentication": "./src/components/Authentication"
        }
      }]
    ]
  }